@font-face {
  font-family: "Outfit-Regular";
  src: url("./fonts/Outfit-Regular.ttf");
}

.image {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0; 
  top: 0; 
  bottom: 0; 
  opacity: 0;
}

.overlay-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 440px;
  width: 250px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  font-family: "Outfit-Regular";
}

.equilibrium {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
  border-radius: 10px;

}

.text {
  margin: 15px 0;
  text-align: start;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px 0;
}

.title {
  font-weight: 600;
}

.description {
  font-size: 14px;
  font-weight: 300;
  color:#8BACD9;
}

.sub-text {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.price {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: hsl(178, 100%, 50%);
}

.days {
  display: flex;
  gap: 5px;
  justify-content: center;
  color: #8BACD9;
}

.profile {
  border-top: 1px solid hsl(215, 32%, 27%);
  margin-top: 15px;
  padding-top: 10px;
  display: flex;
  font-size: 12px;
  align-items: center;
  color: #8BACD9;
  gap: 10px;
}

.name {
  color: white;
}

.name:hover {
  color:hsl(178, 100%, 50%);
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}